*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #160D0A;
    text-transform: uppercase;
    font-family: "Source Code Pro", monospace;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: "Source Code Pro", monospace;
}

html,
body {
    font-weight: normal;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #160D0A;
    background: #F5F1E8;
}

html {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #160D0A;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: #F5F1E8;
}

::selection {
    background: #160D0A;
    color: #F5F1E8;
}

:root {
    color-scheme: light dark;
}

video {
    margin: 0;
    padding: 0;
    display: block;
}
/* Header ------------------------------------------------------------------------------------*/
.header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 60px;
    width: 100%;
    align-items: center;
    z-index: 6;
}
    
.nav-item {
    position: relative; 
    height: 100%;
    width: 100%;
    color: #160D0A;
}

.nav-link:not(.disabled-link):hover {
    border: 1px solid #160D0A;
    background-color: #F5F1E8;
    transition: border 0.3s;
}

.nav {
    grid-column: 3/7;
    margin: 0;
    position: relative;
    height: 100%;
}

.nav-link {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.disabled-link {
    pointer-events: none;
    color: grey;
}

#menu {
    height: 0;
    background-color: #F5F1E8;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    transition: border 0.3s;
    width: 100%;
}

#menu.open {
    height: auto;
    color: #160D0A;
    border: 1px solid #160D0A;
}

.menu-link {
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.menu-link:hover {
    border: 1px solid #160D0A;
    transition: border 0.3s;
}

/* Main-container-1 ------------------------------------------------------------------------------------*/
.container-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 60px;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.img-width {
    grid-column: span 2;
}

/* Main-container-2 ------------------------------------------------------------------------------------*/
.container-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.img-height {
    grid-row: span 2;
}

.content-block-guide {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#art-for-introvert {
    font-weight: 600;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #160D0A;
}

/* Main-container-3 ------------------------------------------------------------------------------------*/
.container-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    border: 1px solid #160D0A;
    justify-content: space-between;
    border-bottom: none;
}

.sidebar-info-1 {
    margin: 20px;
}

.sidebar-info-2 {
    margin: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 42px;  
    line-height: 110%;
}

.description {
    margin-bottom: 60px;
    line-height: 150%;
}

.tag {
    text-transform: uppercase; 
}

.arrow-button {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Source Code Pro", monospace;
    border: none;         
    background-color: #F5F1E8;
    color: #160D0A;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    border: 1px solid transparent;
    justify-content: flex-end;
}

.arrow-button:hover {
    border-top: 1px solid #160D0A;
    transition: border 0.3s;
}

.arrow {
    display: inline-block;
    font-size: 24px;
}

.main-content {
    grid-column: 3/7;
}

.content-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-column {
    overflow: hidden;
    border: 1px solid #160D0A;
    border-bottom: none;
    border-left: none;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media color-scheme------------------------------------------------------------------------------------*/
@media (prefers-color-scheme: dark) {
    ::selection {
        background: #F5F1E8;
        color: #160D0A;
    }

    body {
        background-color: #191919;
        color: #F5F1E8;
    }

    a {
        color:  #F5F1E8;
        border: #999691;
    }

    .nav-item {
        color: #F5F1E8;
    }
    
    .nav-link:not(.disabled-link):hover {
        border: 1px solid #999691;
        background-color: #191919;
    }

    #menu {
        background-color: #191919;
    }

    #menu.open {
        color: #191919;
        border: 1px solid #999691;
    }
    
    .menu-link:hover {
        border: 1px solid #999691;
    }

    .sidebar {
        border: 1px solid #999691;
    }

    #art-for-introvert {
        color: #CEFF5D;
    }

    .arrow-button {
        background-color: #191919;
        color: #F5F1E8;
    }
    
    .arrow-button:hover {
        border-top: 1px solid #999691;
    }

    .img-column {
        border: 1px solid #999691;
    }
}

/* Media------------------------------------------------------------------------------------*/
@media (max-width: 690px) {
    .nav {
        grid-column: 1/7;
    }
}

@media (max-width: 900px) {
    .sidebar {
        grid-column: 1/7;
    }

    .main-content {
        grid-column: 1/7;
    }
}

@media (max-width: 1080px) {
    .img-column {
        grid-column: 1/3;
    }

    .img-block {
        grid-column: 1/3;
    }

    .sidebar {
        border-bottom: none;
    }
}

