*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    font-family: "Source Code Pro", monospace;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "Source Code Pro", monospace;
}

html,
body {
    font-weight: normal;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    background: #ffffff;
}

html {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar {
    width: 0;
  }

::selection {
    background: black;
    color: white;
}

/* Header ------------------------------------------------------------------------------------*/
.header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 60px;
    width: 100%;
    align-items: center;
    z-index: 6;
}
    
.nav-item {
    position: relative; 
    height: 100%;
    width: 100%;
    color: black;
}

.nav-link:not(.disabled-link):hover {
    border: 1px solid black; 
    background-color: #ffffff;
    transition: border 0.3s;
}

.nav {
    grid-column: 3/7;
    margin: 0;
    position: relative;
    height: 100%;
}

.nav-link {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.disabled-link {
    pointer-events: none;
    color: grey;
}

#menu {
    height: 0;
    background-color: #ffffff;
    position: absolute; /* Changed from fixed to absolute */
    top: 100%;
    left: 0;
    overflow: hidden;
    transition: border 0.3s;
    width: 100%; /* Ensure it covers the full width of its parent */
}

/* Menu open state */
#menu.open {
    height: 1145%; /* Changed from 100% to auto to fit content */
    color: #000000;
    border: 1px solid black;
}

/* Styles for menu links */
.menu-link {
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid transparent; /* Add a transparent border initially */
}

/* Hover effect for menu links */
.menu-link:hover {
    border: 1px solid black;
    transition: border 0.3s;
}